<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
<div class="login-box">
  <link rel="stylesheet" type="text/css" href="login.css">

  <form method="post" action="/login">
    <div class="user-box">
      <input type="text" name="student_id" required="student_id">
      <label>Student ID</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" required="password">
      <label>Password</label>
      <button name ="submit" type="submit">Submit</button><center>
    </div><center>
  </form>
</div>
</body>
</html>