<div class="login-box">
    <link rel="stylesheet" type="text/css" href="login.css">
  
    <form>
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div><center>
      <a href="#">
             Submit
         <span></span>
      </a>
      <a href="facsignup.html">Signup ?</a>   
      </center> 
    </form>
  </div>